@model DrinkFormViewModel

@{
    ViewData["Title"] = $"Edit drink {Model.Name}";
    ViewData["Action"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<partial name="_DrinkFormPartial.cshtml" model="@Model" />